@import './src/variables';

:host {
  width: 120px;
  position: absolute;
  right: -165px;
  overflow: visible;
  white-space: nowrap;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.faith-color {
  color: $faith-color;
}

.btn {
  border-color: $faith-color;
}

.faith-btn:enabled {
  background-color: $faith-color;
  color: white;
}
